{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-3 mb-3">AnySync</h3>
<h4 class="text-center">Для синхронизации выберите плейлисты.</h4>
<form action="/users/sync-playlist">
	<table class="table table-striped mt-5">
	<thead class="thead-dark">
			<tr>
				<th scope="col" class="text-center">#</th>
				<th scope="col">Название плейлиста</th>
				<th scope="col">Количество треков</th>
				<th scope="col">Автор</th>
			</tr>
	</thead>
		<tbody>
			{% for playlist in playlists %}
			<tr>
				<td scope="row">
					<div class="form-check text-center">
						<input name="playlist" class="form-check-input" type="checkbox" value="{{ playlist.id }}" id="{{ playlist.id }}">
					</div>
				</td>
				<td>
					<img src="{{ playlist.img_cover }}" alt="..." class="mr-3" width="40">
					<a href="{{ url_for('playlist.playlist', playlist_id=playlist.id) }}">{{ playlist.playlist_name }}</a>
				</td>
				<td>{{ playlist.count_tracks() }}</td>
				<td>{{ playlist.owner_name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		<div class="col mb-3">
			<p>
				Сделать плейлист публичным?
			</p>
			<div class="custom-control custom-radio mb-3">
				<input type="radio" id="customRadio1" name="public_playlist" class="custom-control-input mr-3" value="True" required>
				<label class="custom-control-label" for="customRadio1">Да</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" id="customRadio2" name="public_playlist" class="custom-control-input mr-3" value="False" required>
				<label class="custom-control-label" for="customRadio2">Нет</label>
				<div class="invalid-feedback">Выберите Да или Нет.</div>
			</div>
		</div>
		<div class="col mb-3">
			<p>
				Выбранные плейлисты будут перенесены в 
				{% if music_service == 'Spotify' %}
				<i class="fa-brands fa-spotify"></i>
				{% elif music_service == 'Yandex Music' %}
				<i class="fa-brands fa-yandex"></i>
				{% endif %}
				{{ music_service }}.
			</p>
			<input type="radio" checked="checked" id="customRadio3" name="music_service" class="custom-control-input" value="{{ music_service }}" required>
		</div>
	</div>
	<div class="col mb-5">
		<button type="submit" class="btn btn-primary">Отправить</button>
	</div>
</form>
{% endblock %}