{% extends 'base.html' %}
{% block content %}
<div class="col-md-8 mx-auto text-center">
    <h1 class="mt-5 mb-5">Синхронизируйте свои плейлисты в несколько кликов</h2>
    </div>
<hr>
<div class="col-md-8 mx-auto text-center">
    <h5 class="mb-3">
        AnySync предоставляет возможность синхронизировать и переносить ваши плейлисты из одного музыкального сервиса в другой.
    </h5>
    <div class="row">
        <div class="col">
            <a href="https://www.spotify.com/" class="text-success">
                <h5>
                    <i class="fa-brands fa-spotify pr-1"></i>Spotify
                </h5>
            </a>
        </div>
        <div class="col">
            <a href="https://music.yandex.ru/" class="text-warning">
                <h5>
                    <i class="fa-brands fa-yandex pr-1"></i>Yandex Music
                </h5>
            </a>
        </div>
    </div>
    <hr>
    <h5>
        Теперь вам не придётся делать это вручную, AnySync сделает это за вас, вам останется выбрать только сервис и плейлист.
    </h5>
    <hr>
    <h5>
        Интерфейс AnySync удобный и интуитивно понятный, всего в пару кликов вы можете добавить, а затем синхронизировать плейлисты.
    </h5>
</div>
{% endblock %}