<!-- <div class="row mt-3">
    <div class="col-5">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Название плейлиста</li>
            {% for playlist in playlists %}
            <li class="list-group-item">
                <div class="row">
                    <div class="p-2 bd-highlight"><a href="/playlist/{{ playlist.id }}">{{ playlist.playlist_name }}</a></div>
                    <div class="ml-auto p-2 bd-highlight">{{ playlist.count_tracks() }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Создатель плейлиста</li>
            {% for playlist in playlists %}
            <li class="list-group-item">{{ playlist.owner_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div> -->

{% extends 'base.html' %}
{% block content %}
<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название плейлиста</th>
            <th scope="col">Количество треков</th>
            <th scope="col">Автор</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
        <tr>
            <th scope="row">{{ playlist.id }}</th>
            <td><img src="{{ playlist.img_cover }}" alt="..." class="mr-3" width="40"><a href="/playlist/{{ playlist.id }}">{{ playlist.playlist_name }}</a></td>
            <td>{{ playlist.count_tracks() }}</td>
            <td>{{ playlist.owner_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}