<!-- <div class="row mt-3">
    <div class="col-5">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Название трека</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.track_name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Исполнитель</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.artist }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Длительность</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.duration }}</li>
            {% endfor %}
        </ul>
    </div>
</div> -->
{% extends 'base.html' %}
{% block content %}
<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название трека</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Длительность</th>
        </tr>
    </thead>
    <tbody>
        {% for track in track_list %}
        <tr>
            <th scope="row">{{ track.id }}</th>
            <td><img src="{{ track.img_cover }}" alt="..." class="mr-3" width="40"><a href="/track/{{ track.id }}">{{ track.track_name }}</a></td>
            <td>{{ track.artist }}</td>
            <td>{{ track.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}