{% extends 'base.html' %}
{% block title %}Список треков{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-5">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Название трека</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.track_name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Исполнитель</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.artist }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Длительность</li>
            {% for track in track_list %}
            <li class="list-group-item">{{ track.duration }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}