{% extends 'base.html' %}

{% block content %}
<table class="table table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Количество плейлистов</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ playlists_count[loop.index-1] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}