<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Количество плейлистов</th>
            <th scope="col">Email</th>
            <th scope="col">Дата регистрации</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('playlist.playlist_user', user_id=user.id) }}">{{ user.username }}</a>
            </td>
            <td>
                {{ user.count_playlist() }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.registration_date }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>