{% extends 'base.html' %}

{% block content %}
<h2 class="mt-3">{{ page_title }}: {{ current_playlist.playlist_name }}</h2>
<table class="table table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название трека</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Длительность</th>
            {% if current_playlist.user == current_user.id %}
            <th scope="col"><i class="fa-solid fa-trash"></i></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for track in track_list %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>
                <img src="{{ track.img_cover }}" alt="..." class="mr-3" width="40">
                {{ track.track_name }}
            </td>
            <td>{{ track.artist }}</td>
            <td>{{ track.duration }}</td>
            {% if current_playlist.user == current_user.id %}
            <th scope="col"><a href="{{ url_for('playlist.delete_track', track_id=track.id) }}" style="text-decoration: none; color: #000;"><i class="fa-solid fa-trash"></i></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}